@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.v-btn {
  font-family: "Inter", sans-serif;
  letter-spacing: normal;
}
.v-btn__content {
  letter-spacing: normal;
}

.v-skeleton-loader__text,
.v-skeleton-loader__heading,
.v-skeleton-loader__avatar {
  margin: 0 !important;
}

.loader-text {
  color: white;
  margin-top: -10px;
  font-size: 16px;
}

.vl-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
