@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.v-btn {
  font-family: 'Inter', sans-serif;
  letter-spacing: normal;
}
.v-btn__content {
  letter-spacing: normal;
}